
    <section class="section">
      <div class="container">
        <h1 class="title is-2 has-text-primary">Detalles del producto</h1>
        
        <div class="columns">
          <div class="column is-half">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Imagen del producto">
            </figure>
          </div>
          <div class="column is-half">
            <div class="box">
              <h2 class="title is-3">Producto de ejemplo</h2>
              <p class="subtitle is-5 has-text-success">$29.99</p>
              
              <div class="content">
                <p>Este es un producto de ejemplo. En una aplicación real, aquí se mostrarían los detalles del producto específico.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan, justo ac finibus varius, nisl nibh commodo diam, sit amet aliquam metus odio in risus.</p>
                
                <div class="tags">
                  <span class="tag is-info">Categoría 1</span>
                  <span class="tag is-success">Disponible</span>
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary">
                    <span class="icon">
                      <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span>Añadir al carrito</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="buttons mt-4">
          <a href="/products" class="button is-info">
            <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span>Volver a la lista de productos</span>
          </a>
          <a href="/" class="button is-link is-light">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>Volver al inicio</span>
          </a>
        </div>
      </div>
    </section>
