
    <section class="section">
      <div class="container">
        <h1 class="title is-2 has-text-primary">Lista de productos</h1>
        
        <div class="box">
          <div class="content">
            <div class="columns is-multiline">
              <div class="column is-4">
                <div class="card">
                  <div class="card-image" style=" overflow: hidden;">
                    <figure class="image is-4by3">
                      <img src="https://naahal.mx/cdn/shop/files/EverydaySeamlessCropTopGSNavyB8A4P-UB9P0606_2234x_1a8568bd-6606-4636-88aa-8a70f1cf2b46.webp?v=1724855768" style="width: 100%; height: auto;" alt="Producto 1">
                    </figure>
                  </div>
                  <div class="card-content">
                    <p class="title is-4">Producto 1</p>
                    <p class="subtitle is-6">$19.99</p>
                  </div>
                  <footer class="card-footer">
                    <a href="/products/1" class="card-footer-item button is-info is-light">Ver detalles</a>
                  </footer>
                </div>
              </div>
              <div class="column is-4">
                <div class="card">
                  <div class="card-image" style=" overflow: hidden;">
                    <figure class="image is-4by3">
                      <img src="https://cdn.shopify.com/s/files/1/0156/6146/files/CrestHoodieBlack-A2A4G-BBBB-0290.jpg?v=1686038823"style="width: 100%; height: auto;" alt="Producto 2">
                    </figure>
                  </div>
                  <div class="card-content">
                    <p class="title is-4">Producto 2</p>
                    <p class="subtitle is-6">$29.99</p>
                  </div>
                  <footer class="card-footer">
                    <a href="/products/2" class="card-footer-item button is-info is-light">Ver detalles</a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="buttons">
          <a href="/products/new" class="button is-primary">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Añadir nuevo producto</span>
          </a>
          <a href="/home" class="button is-link is-light">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>Volver al inicio</span>
          </a>
        </div>
      </div>
    </section>
