
    <section class="section">
      <div class="container">
        <h1 class="title is-2 has-text-primary">Detalles del usuario</h1>
        
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Imagen de perfil">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Usuario de ejemplo</strong>
                  <br>
                  Este es un usuario de ejemplo. En una aplicación real, aquí se mostrarían los detalles del usuario específico.
                </p>
              </div>
            </div>
          </article>
        </div>
        
        <div class="buttons">
          <a href="/users" class="button is-info">
            <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span>Volver a la lista de usuarios</span>
          </a>
          <a href="/" class="button is-link is-light">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>Volver al inicio</span>
          </a>
        </div>
      </div>
    </section>
