
    <section class="section">
      <div class="container">
        <div class="notification is-danger">
          <p>Error al guardar los datos. Por favor, intenta nuevamente.</p>
        </div>
        <a href="/users/register" class="button is-primary">Volver a intentar</a>
      </div>
    </section>
