
    <section class="section">
      <div class="container">
        <h1 class="title is-2 has-text-primary">Registro de usuario</h1>
        
        <div class="box">
          <form action="/users/register" method="POST">
            <div class="field">
              <label class="label" for="name">Nombre</label>
              <div class="control has-icons-left">
                <input class="input" type="text" id="name" name="name" placeholder="Tu nombre" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            
            <div class="field">
              <label class="label" for="email">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" id="email" name="email" placeholder="Tu email" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            
            <div class="field">
              <label class="label" for="password">Contraseña</label>
              <div class="control has-icons-left">
                <input class="input" type="password" id="password" name="password" placeholder="Tu contraseña" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-primary">
                  <span class="icon">
                    <i class="fas fa-save"></i>
                  </span>
                  <span>Registrar</span>
                </button>
              </div>
              <div class="control">
                <a href="/" class="button is-link is-light">
                  <span class="icon">
                    <i class="fas fa-home"></i>
                  </span>
                  <span>Volver al inicio</span>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
