
    <section class="section">
      <div class="container">
        <h1 class="title is-2 has-text-primary">Bienvenido a mi aplicación Express</h1>
        <p class="subtitle">Puedes navegar a las siguientes rutas:</p>
        
        <div class="box">
          <div class="content">
            <ul>
              <li><a href="/users" class="has-text-link">Lista de usuarios</a></li>
              <li><a href="/users/register" class="has-text-link">Registrar usuario</a></li>
              <li><a href="/products" class="has-text-link">Lista de productos</a></li>
              <li><a href="/products/new" class="has-text-link">Nuevo producto</a></li>
              <li><a href="/about" class="has-text-link">Acerca de</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
